
@css{
/*  
/* Nombre del template a construir
/* Nombre(s) de quien lo trabajó.
*/
}

.caja-resumen-modelo-uno 
	.resumen-body 
		.listado-border ul
			border-left none!important
			
.caja-resumen-modelo-uno 
	.resumen-body 
		.listado-border 
			ul 
				li
					border-right 1px solid #f1f1f3
					border-bottom 1px solid #f1f1f3
					

.caja-resumen-modelo-uno 
	.resumen-body 
		.listado-border 
			ul 
				li
					&:last-child
						border-bottom 1px solid #f1f1f3!important
						

// busqueda de credito 
.linea-total
	tr
		background #8BCCDE
		&:hover
			background inherit
		td
			color #fff
			border none